# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#example-of-a-codeowners-file
* @CamillaDMSouza @NunoFaria1308 @joaoatrocha @OlgaCadavez @vitormapereira @Sandrasilva13